.open-btn {
  position: fixed;
  top: 8px;
  left: 10px;
  background: #4f46e5;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 110;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  transition: background 0.3s ease;
}
.open-btn:hover {
  background: #4338ca;
}
.close-btn {
  position: absolute;
  top: 8px;
  left: 10px;
  background: #ef4444;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 110;
  transition: background 0.3s ease;
}

.close-btn:hover {
  background: #dc2626;
}
.sidebar-container {

  height: 100vh;
  width: 260px;
  

  background: #1e293b;
  color: white;
  padding-top: 50px;
  transition: transform 0.3s ease-in-out;

}
.sidebar-closed {
  transform: translateX(-100%);
 
  display:none;
}
.sidebar-open {
  transform: translateX(0);
 
    display: block;

}