.container2{
      width: 100%;

 
    margin: 80px 0 1pc 27px;
    margin-right: 2%;
    overflow:auto;
        
}
.mainContainer{
    display: flex;
    max-height: 100vh;
    max-width: 100%;
    overflow: hidden;
}